.byebug_history
.DS_Store
.idea
.yarn-integrity
yarn-debug.log*

/.bundle
/app/assets/builds/*
/config/application.yml
/config/master.key
/coverage
/esbuild.stats.html
/esbuild.stats.json
/lib/snippets/*.dev.erb
/log/*
/node_modules
/public/assets
/public/packs
/public/packs-test
/server
/storage/*
/tmp/*
/tmp/pids/*
/yarn-error.log

!/app/assets/builds/.keep
!/log/.keep
!/storage/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep

/public/vite*
/app/assets/builds/*
!/app/assets/builds/.keep

# Ignore all environment files (except templates).
/.env
/.env*.local
!/.env*.erb
