@mixin background-cover($top:center, $left:center) {
  background-position: $top $left;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin svg-cover($bitmap-image, $svg-image) {
  @include background-cover();
  background-image: image_url($bitmap-image);
  @media
  only screen and (min-resolution: 1.3dppx) {
    .svg & {
      background-image: image_url($svg-image);
      background-size: 100%;
    }
  }
}

@mixin svg-image($bitmap-image, $svg-image, $image-width, $image-height) {
  @include image($bitmap-image, $image-width, $image-height);
  @media
  only screen and (min-resolution: 1.3dppx) {
    .svg & {
      background-image: image_url($svg-image);
      background-size: 100%;
    }
  }
}
