<p id="notice"><%= notice %></p>

<h1>Рейтинг курсов</h1>

<table class='table table-bordered table-hover'>
  <thead>
    <tr>
      <th>Название</th>
      <th>Количество учеников</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.title, course %></td>
        <td><%= rand(1..1000) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
