h1 Предложить новый курс
.well Пожалуйста, при добавлении курса учитывайте, что на одном сайте могут быть представлены несколько различных курсов для разного уровня подготовки ученика и с разными тематиками и уровнями сложности. Указывайте ссылку и описание для конкретного курса, а не для сайта в целом. Спасибо.
= render 'form'
