@import 'variables'
@import 'breakpoint'

.affix-aside-wrapper
  margin-bottom: 12px

  +breakpoint($screen-md-min)
    margin-top: -50px

.affix-aside
  &.affix-top
    position: absolute

  &.affix
    position: fixed
    top: 10px
    z-index: 10
