@import 'variables'

footer
  background: #444
  color: #eee
  border-top: 2px solid $brand-primary
  padding: (24px - 2px) 0 24px

html.with-sticky-footer
  height: auto
  min-height: 100%
  position: relative

  body
    height: auto
    margin-bottom: 96px
    position: initial

    .body-before-footer
      background: $body-bg

    footer
      bottom: 0
      height: 96px
      min-width: 100%
      position: fixed
      z-index: -1
