@import 'variables'
@import 'bootstrap/mixins/vendor-prefixes'

.form-control
  box-shadow: none

.selectize-input
  +transition(border-color 0.25s)
  background-color: $input-bg
  border-radius: $border-radius-base
  border: 1px solid $input-border
  color: $input-color
  line-height: rh()
  padding: $padding-base-vertical $padding-base-horizontal

  &.focus
    border-color: $input-border-focus
    box-shadow: none

.selectize-dropdown [data-selectable].active
  background: rgba($input-border-focus, 0.1)
