@import 'variables'
@import 'breakpoint-sass'

.media-stack-overflow
  margin: 0 -10px
  padding: 12px 10px
  transition: background 0.25s

  .media-left
    padding: 0

    .media-object
      background: $body-bg
      border-radius: 4px
      border: 1px solid #EFD0C7
      color: #EF917E
      display: block
      font-size: 24px
      height: 48px
      line-height: 48px
      text-align: center
      width: 48px

    .media-object-responsive
      +breakpoint($screen-sm-min)
        height: 72px
        line-height: 72px
        width: 72px

  .media-body
    padding: 0 10px

    .media-heading
      font-weight: 600
      line-height: 24px
      margin-bottom: 0

      span, small
        & +
          span, small
            margin-left: 5px

      small
        font-size: 14px
        font-weight: 400

      +breakpoint($screen-sm-min)
        font-size: 16px

    p
      color: #555
      line-height: 24px
      margin-bottom: 0

      span, a
        & +
          span, a
            margin-left: 5px

  &:hover
    background: darken($body-bg, 2%)
