@import 'variables'
@import 'mixins/rh'

p.hr
  position: relative
  text-align: center

  span
    background-color: $body-bg
    padding: 0 10px
    position: relative

  &:before
    background-color: $text-color
    content: ''
    height: 1px
    left: 0
    margin-top: -1px
    position: absolute
    top: 50%
    width: 100%

.turbolinks-progress-bar
  background-color: $brand-primary
  height: 2px
