$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
$font-family-serif: 'PT Serif', Georgia, 'Times New Roman', Times, serif
$sans-regular: 400
$sans-bold: 700

// $gg: 30px
// $grid-gutter-width: $gg
// $grid-float-breakpoint: 0
// $navmenu-width: 300px
// $screen-sm: 0

// $font-size-base: 14px
// $font-size-small: 12px
// $font-size-large: 16px

// $rh: 24px
// $line-height-computed: $rh
// $line-height-base: $rh / $font-size-base
// $line-height-large: $rh / $font-size-large
// $navbar-height: $rh*3.5

// $body-bg: #FAFDFA
// $link-color: #0066ff
// $brand-primary: #48b373
// $brand-success: #5ED06C
// $brand-danger: #B3423E
// $state-success-bg: #55BE6A
// $state-success-text: #fff
// $state-danger-bg: #D8260E
// $state-danger-text: $brand-danger
// $breadcrumb-color: #000
// $breadcrumb-active-color: #000
// $hr-border: #c7c7c7
// $input-border-focus: $brand-primary
// $navbar-default-bg: #fff
// $navbar-default-link-color: $link-color
// $navbar-default-link-active-bg: #f7f7f7
// $navbar-inverse-bg: #444
// $navbar-inverse-color: #f5f5f5
// $navbar-inverse-link-color: #f5f5f5
// $navbar-inverse-link-hover-bg: rgba(#000, 0.1)
// $navbar-inverse-link-hover-color: $navbar-inverse-link-color
// $navbar-inverse-link-active-bg: rgba(#000, 0.2)
// $navbar-inverse-link-active-color: $navbar-inverse-link-hover-color
// $navbar-inverse-link-open-bg: rgba(#000, 0.0)
// $navbar-inverse-link-open-color: $navbar-inverse-link-hover-color
// $navbar-inverse-link-disabled-color: lighten($navbar-inverse-bg, 20%)
// $panel-danger-text: #fff

@import 'bootstrap-sprockets'
@import 'bootstrap/_variables'
