@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'PT Serif', serif;
}
