.button_24px,
.button.h-24px {
  border-radius: 3px;
  font-size: 12px;
  height: auto;
  line-height: 18px;
  padding: 2px 6px; /* Replaced calc((24px - 18px) / 2 - 1px) calc(7px - 1px) */
}

.button.h-30px {
  border-radius: 3px;
  font-size: 12px;
  height: auto;
  line-height: 18px;
  padding: 5px 9px; /* Replaced calc((30px - 18px) / 2 - 1px) calc(10px - 1px) */
}

.button.h-30px.button_pill {
  border-radius: calc(30px / 2);
}

.button.h-36px,
.button_36px {
  border-radius: 5px;
  height: auto;
  padding: 5px 13px; /* Replaced calc((36px - 24px) / 2 - 1px) calc(14px - 1px) */
}

.button.h-42px,
.button_42px {
  border-radius: 5px;
  height: auto;
  padding: 8px 24px; /* Replaced calc((42px - 24px) / 2 - 1px) calc(25px - 1px) */
}

.button.h-48px,
.button_48px {
  border-radius: 5px;
  height: auto;
  padding: 11px 24px; /* Replaced calc((48px - 24px) / 2 - 1px) calc(25px - 1px) */
}

.button.h-60px,
.button_60px {
  border-radius: 5px;
  font-size: 18px;
  height: auto;
  padding: 17px 39px; /* Replaced calc((60px - 24px) / 2 - 1px) calc(40px - 1px) */
}
