.pagination {
  padding: 12px 0;
  font-size: 12px;
  line-height: 18px;
}

.pagination .first,
.pagination .prev,
.pagination .next,
.pagination .last,
.pagination .page {
  display: inline-block;
}

.pagination .first > a,
.pagination .prev > a,
.pagination .next > a,
.pagination .last > a,
.pagination .page > a {
  background: #fff;
  border-radius: 3px;
  color: #222;
  display: inline-block;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
}

.pagination .first > a:hover,
.pagination .prev > a:hover,
.pagination .next > a:hover,
.pagination .last > a:hover,
.pagination .page > a:hover {
  background: #f5f5f5;
}

.pagination .page.gap {
  padding: 3px 10px;
}

.pagination .page.active {
  background: #f5f5f5;
  border-radius: 3px;
  padding: 3px 10px;
}

.pagination span.page.disabled {
  padding: 3px 10px;
}
