<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=yyQQGygvO9">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=yyQQGygvO9">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=yyQQGygvO9">
<link rel="manifest" href="/site.webmanifest?v=yyQQGygvO9">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=yyQQGygvO9" color="#5bbad5">
<link rel="shortcut icon" href="/favicon.ico?v=yyQQGygvO9">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
