meta charset='utf-8'
meta name='viewport' content='width=device-width, initial-scale=1'
title = content_for?(:title) ? yield(:title) : 'Рейтинг курсов по Ruby и Ruby on Rails'
= csrf_meta_tags
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
= render 'favicons'
