meta charset='utf-8'
meta name='yandex-verification' content='60e837389817f594'
meta name='viewport' content='width=device-width, initial-scale=1'
= meta_for_description
= meta_for_site_name
= meta_for_title
= meta_for_url
= title_tag
= rescued_csrf_meta_tags
= csp_meta_tag
= render 'favicons'
= stylesheet_link_tag 'web/application', media: 'all', data: { turbolinks_track: 'reload' }
= stylesheet_link_tag 'postcss', media: 'all', data: { turbolinks_track: 'reload' }
= stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: 'reload' }
= javascript_include_tag 'application', async: true, data: { turbolinks_track: 'reload' }
