meta charset='utf-8'
meta name='viewport' content='width=device-width, initial-scale=1'
= meta_for_description
= meta_for_site_name
= meta_for_title
= meta_for_url
= title_tag
= csrf_meta_tags
= stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: 'reload' }
= render 'favicons'
= javascript_pack_tag 'application', data: { turbolinks_track: 'reload',
                                             turbolinks_suppress_warning: true }
